.formdata_header {
    display: flex;
    flex-direction: row;
    font-size: larger;
    font-weight: 600;
    justify-content: space-around;
    flex-wrap: wrap;

}
.formdata_body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}